.home-container {
  padding: 2rem;
  color: rgb(0, 255, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top:3rem;
}

  
  .home-heading {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: rgb(13, 252, 64);
    text-shadow: rgb(252, 22, 53);
    text-align: center;
}

  
  .home-product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
        width: 100%;
    max-width: 1200px;
    padding: 1rem;
}
  
@media (max-width: 900px) {
  .home-product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
}
  
}
