
  .star {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    color: var(--text-secondary);
  }
  
  .star.filled {
    color: var(--primary-main); 
  }
  
  .star.empty {
    color: var(--text-secondary); 
  }
  
  .star:hover {
    transform: scale(1.2); 
    color: var(--primary-main); 
  }
  
  
  