:root { 
    
    --primary-main: green; 
    --primary-dark: #2cfc11; 
    --primary-light: #2cfc11; 
    
    --bg-primary: #2cfc11; 
    --bg-secondary:darkgreen; 
    
    --text-primary: rgb(244, 247, 244); 
    --text-secondary: #c7f7be; 
    --text-light: white; 
    
    --border-color: lightgreen; 
    

    --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.2); 
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.15); 
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
