:root { 
    
    --primary-main: green; 
    --primary-dark: #2cfc11; 
    --primary-light: #F8B5B1; 
    
    --bg-primary: #2E2E3C; 
    --bg-secondary: #3B3B4F; 
    
    --text-primary: green; 
    --text-secondary: #B9A7A0; 
    --text-light: white; 
    
    --border-color: #5C4A6F; 
    

    --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.2); 
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.15); 
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
